# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Dependencias
node_modules/

# Entornos
.env
.env.local
.env.*.local

# Next.js
.next/
out/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
.env*.local
.claude/
